<a href="https://colab.research.google.com/github/flying-solo/pythonPrograms/blob/main/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import sqlite3 
con=sqlite3.connect('Organization db')
c=con.cursor()
c.execute("create table IF NOT PRESENT employees(Employee_ID int, first_name text, last_name text, email text, phone int, hire_date date, job_id int, salary int, commission int, manager_id int, department_id int")
c.execute("Insert into employees values(10,'Sophia','Anthony','sa2345@srmist.edu.in',1234567891,23-03-2022,1262,30000,5000,90,1231)")

c.execute("Select * from employees")
con.commit()

print(c.fetchall())

[(10, 'Sophia', 'Anthony', 'sa2345@srmist.edu.in', 1234567891, -2002, 1262, 30000, 5000, 90, 1231)]

In [14]:
import sqlite3
con=sqlite3.connect('School db')
c=con.cursor()
c.execute("create table if not exist student(Reg_no int,stud_name text,sex text)")
c.execute("create table  if not exist dept(dept_no int primary key, dept_name text)")
c.execute("Insert into student values(185,'Harshit','Male')")
c.execute("Insert into student values(191,'Aryan','Male')")
c.execute("Insert into student values(186,'Pranav','Male')")
c.execute("Insert into student values(125,'Anupama','Female')")
c.execute("Insert into student values(115,'Kritika','Female')")

c.execute("Select * from student")
con.commit()
data=c.fetchall()
for i in data:
  print(i)

[(185, 'Harshit', 'Male'), (191, 'Aryan', 'Male'), (186, 'Pranav', 'Male'), (125, 'Anupama', 'Female'), (115, 'Kritika', 'Female')]

In [16]:
c.execute("Select * from student")
con.commit()
data=c.fetchall()
for i in data:
  print(i)

(185, 'Harshit', 'Male')
(191, 'Aryan', 'Male')
(186, 'Pranav', 'Male')
(125, 'Anupama', 'Female')
(115, 'Kritika', 'Female')

In [20]:
c.execute("Select * from student where sex='Female'")
con.commit()
data=c.fetchall()
for i in data:
  print(i)

(125, 'Anupama', 'Female')
(115, 'Kritika', 'Female')

In [22]:
c.execute("Select * from student ORDER BY stud_name asc")
con.commit()
data=c.fetchall()
for i in data:
  print(i)

(125, 'Anupama', 'Female')
(191, 'Aryan', 'Male')
(185, 'Harshit', 'Male')
(115, 'Kritika', 'Female')
(186, 'Pranav', 'Male')

In [23]:
c.execute("Select * from student where stud_name like '%ka'")
con.commit()
data=c.fetchall()
for i in data:
  print(i)

(115, 'Kritika', 'Female')

In [30]:
import sqlite3
con=sqlite3.connect('Food db')
c=con.cursor()
c.execute("create table if not exists recipie(id int,name text,description text,category_id text,chef_id text,created datetime)")

c.execute("Insert into recipie values(185,'Noodles','Chinese','123ed','BL000002','2022-04-23 13:13:23')")
c.execute("Insert into recipie values(191,'Momos','Chinese','124ed','BL000001','2022-04-23 13:13:23')")
c.execute("Insert into recipie values(186,'pizza','Italian','125ed','BL000006','2022-04-23 13:13:23')")
c.execute("Insert into recipie values(125,'DOSA','South Indian','126ed','BL000008','2022-04-23 13:13:23')")
c.execute("Insert into recipie values(115,'Dhokla','Gujarat','723ed','BL000032','2022-04-23 13:13:23')")

c.execute("Select * from recipie")
con.commit()
data=c.fetchall()
for i in data:
  print(i)

(185, 'Noodles', 'Chinese', '123ed', 'BL000002', '2022-04-23 13:13:23')
(191, 'Momos', 'Chinese', '124ed', 'BL000001', '2022-04-23 13:13:23')
(186, 'pizza', 'Italian', '125ed', 'BL000006', '2022-04-23 13:13:23')
(125, 'DOSA', 'South Indian', '126ed', 'BL000008', '2022-04-23 13:13:23')
(115, 'Dhokla', 'Gujarat', '723ed', 'BL000032', '2022-04-23 13:13:23')

In [35]:
c.execute("Select id, name from recipie where chef_id='BL000002'")
con.commit()
data=c.fetchall()
for i in data:
  print(i)

(185, 'Noodles')

In [36]:
c.execute("Insert into recipie values(215,'Woffels','Paris','723ed','BL003032','2022-04-23 13:13:23')")
c.execute("Select * from recipie where description like 'P%'")
con.commit()
data=c.fetchall()
for i in data:
  print(i)

(215, 'Woffels', 'Paris', '723ed', 'BL003032', '2022-04-23 13:13:23')