<a href="https://colab.research.google.com/github/flying-solo/pythonPrograms/blob/main/Python_oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3 
con=sqlite3.connect('Developer db')
c=con.cursor()
c.execute("create table Dev(Program Language text,Duration int,Consultancy text)")
con.commit()

OperationalError: ignored

In [4]:
import sqlite3 
con=sqlite3.connect('Developer db')
c=con.cursor()
c.execute("Insert into Dev values ('Java','2hr','Tata')")

In [5]:
import sqlite3 
con=sqlite3.connect('Developer db')
c=con.cursor()
c.execute("Insert into Dev values ('C','3hr','Tata')")
c.execute("Insert into Dev values ('Javascript','5hr','Tata')")

OperationalError: ignored

In [19]:
import sqlite3 
con=sqlite3.connect('Developers db')
c=con.cursor()
#c.execute("create table Devo(Program Language text,Duration int,Consultancy text)")
c.execute("Insert into Devo values ('Java','2hr','Tata')")
c.execute("Insert into Devo values ('C','3hr','Tata')")
c.execute("Insert into Devo values ('Javascript','5hr','Tata')")
c.execute("Select * from Devo")
con.commit()
print(c.fetchall())

OperationalError: ignored

In [23]:
import sqlite3 
con=sqlite3.connect('Developer1 db')
c=con.cursor()
#c.execute("create table Devo(Program Language text,Duration int,Consultancy text)")
c.execute("Insert into Devo values ('Java','2hr','Tata')")
c.execute("Insert into Devo values ('C','3hr','Tata')")
c.execute("Insert into Devo values ('Javascript','5hr','Tata')")
c.execute("Select * from Devo")
con.commit()
print(c.fetchall())

[('Java', '2hr', 'Tata'), ('C', '3hr', 'Tata'), ('Javascript', '5hr', 'Tata'), ('Java', '2hr', 'Tata'), ('C', '3hr', 'Tata'), ('Javascript', '5hr', 'Tata')]

In [24]:
import sqlite3 
con=sqlite3.connect('Doctor db')
c=con.cursor()
c.execute("create table patient(Patient_ID int,Name text,Bed int,Disease text)")
c.execute("Insert into patient values (10,'Mayo',204,'Accident')")
c.execute("Insert into patient values (11,'John',205,'Diabetes')")
c.execute("Insert into patient values (12,'Walter',207,'Parkinson')")
c.execute("Insert into patient values (13,'Wilsmith',208,'Nightbindness')")

c.execute("Select * from patient")
con.commit()

print(c.fetchall())

[(10, 'Mayo', 204, 'Accident'), (11, 'John', 205, 'Diabetes'), (12, 'Walter', 207, 'Parkinson'), (13, 'Wilsmith', 208, 'Nightbindness')]

In [25]:
import sqlite3 
con=sqlite3.connect('Doctor db')
c=con.cursor()
c.execute("Select * from patient")
a=c.fetchall()
for i in a:
  print(i)

(10, 'Mayo', 204, 'Accident')
(11, 'John', 205, 'Diabetes')
(12, 'Walter', 207, 'Parkinson')
(13, 'Wilsmith', 208, 'Nightbindness')

In [28]:
import sqlite3 
con=sqlite3.connect('Doctor db')
c=con.cursor()
c.execute("Insert into patient values (14,'Aryan',696,'Depression')")
con.commit()
c.execute("Select * from patient")
print(c.fetchmany(4))

TypeError: ignored

In [29]:
import sqlite3 
con=sqlite3.connect('Doctor db')
c=con.cursor()
c.execute("DELETE from patient where Patient_ID=12")
print(c.fetchall())

[]

In [31]:
c.execute("Select * from patient")
data = c.fetchall()
for i in data:
  print(i)

(10, 'Mayo', 204, 'Accident')
(11, 'John', 205, 'Diabetes')
(13, 'Wilsmith', 208, 'Nightbindness')
(14, 'Aryan', 696, 'Depression')
(14, 'Aryan', 696, 'Depression')

In [32]:
c.execute("DELETE from patient where Patient_ID=14")

In [33]:
c.execute("Select * from patient")
data = c.fetchall()
for i in data:
  print(i)

(10, 'Mayo', 204, 'Accident')
(11, 'John', 205, 'Diabetes')
(13, 'Wilsmith', 208, 'Nightbindness')

In [34]:
c.execute("Insert into patient values (14,'Aryan',696,'Depression')")
con.commit()
c.execute("Select * from patient")
data = c.fetchall()
for i in data:
  print(i)

(10, 'Mayo', 204, 'Accident')
(11, 'John', 205, 'Diabetes')
(13, 'Wilsmith', 208, 'Nightbindness')
(14, 'Aryan', 696, 'Depression')